* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #222;
	color: #fff;
}

section {
	margin: 0 auto;
	padding: 20px;
	background-color: #333;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
	font-size: 32px;
	margin-bottom: 10px;
	color: #fff;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
	color: #fff;
}

p {
	margin-bottom: 10px;
	color: #fff;
}

a {
	color: #007bff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	border-radius: 8px;
}

.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.huge-text {
	font-size: 84px;
}

.drop-zone,
.drop-zone-image {
	border-radius: 16px;
}

.drop-zone {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 300px;
	border: 2px dashed #ccc;
	margin: 2rem 14rem;
}

.drop-zone:hover {
	cursor: pointer;
}

.drop-zone-text {
	font-size: 1.2rem;
	color: #666;
	margin-bottom: 1rem;
}

.drop-zone:hover {
	border-color: #aaa;
}

.drop-zone.drag-over {
	background-color: #f7f7f7;
}

.drop-zone input[type='file'] {
	display: none;
}
